In [1]:
import pandas as pd

In [55]:
csv1 = pd.read_csv("books_by_category/books_by_category.csv", names=['id','book','category'])

In [3]:
csv2 = pd.read_csv("books_by_category/books_by_category2.csv", names=['id','book','category'])

In [56]:
len(csv1)

61609

In [5]:
len(csv2)

39373

In [57]:
csv1[-1:]

          id                         book       category
61608  90177  Sport Innovation/BTS Tennis  Miscellaneous

In [7]:
csv2[-1:]

,id,book,category
120014,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous,NaN

In [58]:
csv1.sort_values('id', inplace=True)

In [45]:
csv1.describe()

                 id
count  61609.000000
mean   43299.087325
std    25838.390392
min        1.000000
25%    21114.000000
50%    41950.000000
75%    64658.000000
max    90180.000000

In [10]:
csv2.describe()

                                                id       book   category
count                                        39372      39367       1139
unique                                       37105        617        355
top     A-level Computing 2009/AQA/Problem Solving  Computing  Computing
freq                                           177       9144        239

In [11]:
csv2.head()

,id,book,category
60004,Computational chemistry/At the edge of Biology,Genomics and Proteomics,Science
60007,Computational chemistry/Drug Design,Science,NaN
60001,Complete Guide to essential Oils,Science,NaN
60003,Computational chemistry/Applications of molecu...,Science,NaN
60005,Computational chemistry/Continuum solvation mo...,Science,NaN

In [12]:
csv2.tail()

,id,book,category
120010,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous,NaN
120012,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous,NaN
120013,Card Games/Agram,Miscellaneous,NaN
120015,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous,NaN
120014,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous,NaN

In [13]:
with open ("books_by_category/books_by_category2.csv", "r", encoding="utf-8") as f:
        lines = f.readlines()

In [14]:
lines[0]

'60004,Computational chemistry/At the edge of Biology, Genomics and Proteomics,Science\n'

In [15]:
lines[0].split(",")

['60004',
 'Computational chemistry/At the edge of Biology',
 ' Genomics and Proteomics',
 'Science\n']

In [16]:
int(lines[0].split(",")[0])

60004

In [17]:
",".join(lines[0].split(",")[1:-1])

'Computational chemistry/At the edge of Biology, Genomics and Proteomics'

In [18]:
lines[0].split(",")[-1][:-1]

'Science'

In [19]:
len(lines)

39373

In [30]:
for i,line in enumerate(lines):
    if not line.split(",")[0].isdigit():
        print(i,line)

In [21]:
lines.remove(lines[1401])

In [23]:
lines[2037]

'Installing Applications,Computing\n'

In [24]:
lines[2037] = '63217,'+lines[2037]

In [25]:
lines[2037]

'63217,Installing Applications,Computing\n'

In [27]:
lines.remove(lines[7484])

In [29]:
lines.remove(lines[20498])

In [31]:
%%time

df = pd.DataFrame(columns=('id', 'book', 'category'))
for i, line in enumerate(lines):
    df.loc[i] = [int(line.split(",")[0]), ",".join(line.split(",")[1:-1]), line.split(",")[-1][:-1]]

CPU times: user 3min 13s, sys: 128 ms, total: 3min 13s
Wall time: 3min 13s

In [32]:
df.describe()

           id                                book   category
count   39370                               39370      39370
unique  39370                               37779         25
top     65518  Skateboard Alphabet Coloring Pages  Computing
freq        1                                   6       9763

In [33]:
df.tail()

,id,book,category
39365,120010,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous
39366,120012,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous
39367,120013,Card Games/Agram,Miscellaneous
39368,120015,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneous
39369,120014,Chess Opening Theory/1. e4/1...e5/2. Nf3/2...N...,Miscellaneou

In [34]:
df.isnull().values.any()

False

In [59]:
csv1.isnull().values.any()

True

In [64]:
nan_rows = csv1[csv1.isnull().any(1)]

In [65]:
nan_rows

Empty DataFrame
Columns: [id, book, category]
Index: []

In [62]:
csv1.at[3486, 'category'] = 'Computing'

In [63]:
csv1.at[56121, 'category'] = 'Humanities'

In [66]:
df.sort_values('id', inplace=True)

In [93]:
csv = pd.concat([csv1, df])

In [94]:
len(csv)

100979

In [95]:
len(csv1) + len(df)

100979

In [96]:
len(csv.drop_duplicates(['id']))

83186

In [97]:
csv.drop_duplicates(['id'],inplace=True)

In [98]:
csv[csv['id']==60002]

          id                     book category
43074  60002  Computational chemistry  Science

In [99]:
csv.describe()

            id                                        book   category
count    83186                                       83186      83186
unique   83186                                       78237        712
top     120015  A-level Computing 2009/AQA/Problem Solving  Computing
freq         1                                         140      22505

In [101]:
#csv.to_csv("csv.csv")

In [103]:
csv.duplicated(['id','book','category']).values.any()

False

<hr>

In [105]:
import os
import shutil
cwd = os.getcwd()

for root, dirs, files in os.walk(os.path.join(cwd, 'extracted/')):  
    for i,file in enumerate(files):
        path_file = os.path.join(root,file)
        shutil.move(path_file, os.path.join(cwd, 'allbooks/'))
print("Copied {} files.", i)

Copied {} files. 928

In [107]:
data = csv[['id','book','category']]

In [108]:
data.head()

  id                                               book category
0  1                            Organic Chemistry/Cover  Science
1  2  Organic Chemistry/Foundational concepts of org...  Science
2  3        Organic Chemistry/Introduction to reactions  Science
3  4                          Organic Chemistry/Alkenes  Science
4  5                        Organic Chemistry/Chirality  Science

In [110]:
len(data.category.unique())

712

In [111]:
data.category.describe()

count         83686
unique          712
top       Computing
freq          22816
Name: category, dtype: object

In [117]:
from collections import Counter
count = Counter()

In [118]:
for cat in data.category.unique():
    count[cat] = len(data[data['category']==cat])

In [119]:
count

Counter({" ''Apology''": 2,
         " ''Gorgias''": 2,
         " ''Phadreus''": 1,
         " (ou l'Optimisme)": 1,
         ' -x': 1,
         ' 034 and 035)': 1,
         ' 1868-present': 1,
         ' 1872 to present': 1,
         ' 1890-1945': 1,
         ' 2': 1,
         ' 2007': 9,
         ' 2008': 1,
         ' 2nd form': 1,
         ' A Little of That': 1,
         ' AVX2': 1,
         ' Abbreviations and Symbols': 1,
         ' Access': 2,
         ' Account Numbers': 1,
         ' Advanced': 1,
         ' Africa': 1,
         ' Algebras and σ-algebras': 1,
         ' Amphibians': 1,
         ' An Introductory Guide': 1,
         ' Analysis': 1,
         ' Answering the Big Questions of Life': 2,
         ' Answering the Big Questions of Life/About the Book': 1,
         ' Answering the Big Questions of Life/Atoms and Molecules': 1,
         ' Answering the Big Questions of Life/CellLab-TG': 1,
         ' Answering the Big Questions of Life/Cells': 1,
         ' Answering the Big Questions of Life/Cells and the Microscope': 1,
         ' Answering the Big Questions of Life/Cover': 1,
         ' Answering the Big Questions of Life/Crystalization lab': 1,
         ' Answering the Big Questions of Life/DNA': 1,
         ' Answering the Big Questions of Life/DNA2': 1,
         ' Answering the Big Questions of Life/Fermentation': 1,
         ' Answering the Big Questions of Life/Fermentation student lab': 1,
         ' Answering the Big Questions of Life/Foreword': 1,
         ' Answering the Big Questions of Life/Index': 1,
         ' Answering the Big Questions of Life/Introduction': 1,
         ' Answering the Big Questions of Life/Metabolism': 1,
         ' Answering the Big Questions of Life/Metabolism/Metabolism2': 1,
         ' Answering the Big Questions of Life/Metabolism/Metabolism3': 1,
         ' Answering the Big Questions of Life/Microscopes': 1,
         ' Answering the Big Questions of Life/Mitosis': 1,
         ' Answering the Big Questions of Life/Organic Chemistry': 1,
         ' Answering the Big Questions of Life/Organic chem': 1,
         ' Answering the Big Questions of Life/Osmosis': 1,
         ' Answering the Big Questions of Life/Osmosis lab': 1,
         ' Answering the Big Questions of Life/Photosynthesis': 1,
         ' Answering the Big Questions of Life/Photosynthesis/Photosynthesis2': 1,
         ' Answering the Big Questions of Life/Photosynthesis/Photosynthesis3': 1,
         ' Answering the Big Questions of Life/Plants': 1,
         ' Answering the Big Questions of Life/Taxonomy': 1,
         ' Answering the Big Questions of Life/cell division': 1,
         ' Answering the Big Questions of Life/cell division2': 1,
         ' Answering the Big Questions of Life/cell division3': 1,
         ' Answering the Big Questions of Life/classification': 1,
         ' Answering the Big Questions of Life/evolve3': 1,
         ' Answering the Big Questions of Life/genetics1': 1,
         ' Answering the Big Questions of Life/genetics2': 1,
         ' Answering the Big Questions of Life/genetics3': 1,
         ' Answering the Big Questions of Life/organelles': 1,
         ' Answering the Big Questions of Life/osmosis': 1,
         ' Answering the Big Questions of Life/reproduction1': 1,
         ' Answering the Big Questions of Life/reproduction3': 1,
         ' Appreciation': 1,
         ' Archea and Eukaryotes': 1,
         ' Arithmology': 1,
         ' Assessing and Producing': 1,
         ' Assistantships': 1,
         ' Background Noise': 1,
         ' Background Reading': 1,
         ' Bases and pH': 1,
         ' Basic': 1,
         ' Beef and Feedlots': 1,
         ' Bevel': 1,
         ' Binormal Line': 2,
         ' Biography': 3,
         ' Bonds and Groups/Atoms and Reactions/Acids': 1,
         ' Bonds and Groups/Atoms and Reactions/Atoms': 1,
         ' Bonds and Groups/Atoms and Reactions/Moles and Equations': 1,
         ' Bones': 1,
         ' Bose Corporation': 1,
         ' Boxes and Tables': 1,
         ' C. - Symphony in D minor': 1,
         ' CAMERA': 1,
         ' CLEARSCREEN': 1,
         ' CLS': 1,
         ' CPU usage and timers': 1,
         ' Cassiopeia': 1,
         ' Categories': 1,
         ' Ceasefire and Refugees': 1,
         ' Certiorari': 1,
         ' Change': 2,
         ' Chat-rooms': 1,
         ' Chemical and Atomic Workers International Union': 1,
         ' Chords and Diameters': 1,
         ' Closure': 1,
         ' Cohesion': 1,
         ' Communication': 4,
         ' Communication and Record-keeping': 1,
         ' Communism': 1,
         ' Community': 1,
         ' Comparison and Compatibility': 2,
         ' Comparison and Compatibility/Architecture': 1,
         ' Comparison and Compatibility/Architecture/DB2': 1,
         ' Comparison and Compatibility/Architecture/Oracle': 1,
         ' Comparison and Compatibility/Architecture/Overview': 1,
         ' Comparison and Compatibility/Architecture/Summary': 1,
         ' Comparison and Compatibility/Database Scaling': 1,
         ' Comparison and Compatibility/Database Scaling/Oracle': 1,
         ' Comparison and Compatibility/Database Scaling/Replication': 1,
         ' Comparison and Compatibility/Database Scaling/Shared Architectures': 1,
         ' Comparison and Compatibility/Introduction': 1,
         ' Comparison and Compatibility/PL/SQL Compatibility': 1,
         ' Comparison and Compatibility/Process Model': 1,
         ' Comparison and Compatibility/Process Model/Consistency': 1,
         ' Comparison and Compatibility/Process Model/Consistency/DB2': 1,
         ' Comparison and Compatibility/Process Model/Consistency/Oracle': 1,
         ' Comparison and Compatibility/Process Model/Consistency/Summary': 1,
         ' Comparison and Compatibility/Process Model/Locking': 1,
         ' Comparison and Compatibility/Process Model/Locking/DB2': 1,
         ' Comparison and Compatibility/Process Model/Locking/Oracle': 1,
         ' Comparison and Compatibility/Process Model/Locking/Summary': 1,
         ' Comparison and Compatibility/Process Model/Logging': 1,
         ' Comparison and Compatibility/Process Model/Logging/DB2': 1,
         ' Comparison and Compatibility/Process Model/Logging/Oracle': 1,
         ' Comparison and Compatibility/Process Model/Logging/Summary': 1,
         ' Comparison and Compatibility/Process Model/Optimizer': 1,
         ' Comparison and Compatibility/Process Model/Optimizer/DB2': 1,
         ' Comparison and Compatibility/Process Model/Optimizer/Oracle': 1,
         ' Comparison and Compatibility/Process Model/Optimizer/Summary': 1,
         ' Comparison and Compatibility/Process Model/Transaction Management': 1,
         ' Comparison and Compatibility/Process Model/Transaction Management/Oracle': 1,
         ' Comparison and Compatibility/Process Model/Transaction Management/Summary': 1,
         ' Comparison and Compatibility/Storage Model': 1,
         ' Comparison and Compatibility/Storage Model/Data Types': 1,
         ' Comparison and Compatibility/Storage Model/Data Types/DB2': 1,
         ' Comparison and Compatibility/Storage Model/Data Types/Oracle': 1,
         ' Comparison and Compatibility/Storage Model/Data Types/Summary': 1,
         ' Comparison and Compatibility/Storage Model/Indexes': 1,
         ' Comparison and Compatibility/Storage Model/Indexes/DB2': 1,
         ' Comparison and Compatibility/Storage Model/Indexes/Oracle': 1,
         ' Comparison and Compatibility/Storage Model/Indexes/Summary': 1,
         ' Comparison and Compatibility/Storage Model/Physical Storage/DB2': 1,
         ' Comparison and Compatibility/Storage Model/Physical Storage/Oracle': 1,
         ' Comparison and Compatibility/Storage Model/Physical Storage/Summary': 1,
         ' Comparison and Compatibility/Storage Model/Tables': 1,
         ' Comparison and Compatibility/Storage Model/Tables/DB2': 1,
         ' Comparison and Compatibility/Storage Model/Tables/Oracle': 1,
         ' Conditionals': 1,
         ' Configuration': 11,
         ' Conjunctions': 2,
         ' Conservation and Recycling': 1,
         ' Continued': 2,
         ' Contributions and Bugs': 1,
         ' Conversions And Revelations': 1,
         ' Cosine and Tangent': 1,
         ' Criticism': 1,
         ' Curl and Divergence': 2,
         ' Current': 2,
         ' Current situation and SWOT': 1,
         ' Declarations and Constants': 1,
         ' Delirium': 2,
         ' Dem. Rep. (North)': 1,
         ' Democratic Republic': 1,
         ' Design and Implementation/Introduction': 1,
         ' Deutsches Reich': 1,
         ' Discussion Lists': 1,
         ' Displacement': 1,
         ' Distinct Eigenvalues Method': 1,
         ' Doses and Dose Equivalents': 1,
         ' Doses and Dose Equivalents/Worked Solutions': 1,
         ' Draw': 1,
         ' Dynamic Mocks': 1,
         ' E-readers and the Future of the Publishing Industry': 1,
         ' Ecology': 1,
         ' Ecosystems': 1,
         ' Electricity': 5,
         ' Energetics and Elements/Energy/Lattice Enthalpy': 1,
         ' Energy and Resources/Alcohols': 1,
         ' Energy and Resources/Basic Concepts and Hydrocarbons/Alkanes': 1,
         ' Energy and Resources/Basic Concepts and Hydrocarbons/Alkenes': 1,
         ' Envelope': 1,
         ' Enzyme': 1,
         ' Evaluation And Learning': 1,
         ' Evaluation and Learning for Telecentre networks': 1,
         ' Examination and Advice': 1,
         ' Exterior': 1,
         ' E♭ and A♭ Major scales': 1,
         ' Failover and Load Balancing': 1,
         ' Faxing': 1,
         ' Fields and Energy': 1,
         ' Fields and Energy/Appendix of Formulae': 1,
         ' Fields and Energy/Capacitors': 1,
         ' Fields and Energy/Electric fields': 1,
         ' Fields and Energy/Electromagnetic induction': 1,
         ' Fields and Energy/Electromagnetism': 1,
         ' Fields and Energy/Further dynamics': 1,
         ' Fields and Energy/Gravitational fields': 1,
         ' Fields and Energy/Motion in a circle': 1,
         ' Fields and Energy/Oscillations': 1,
         ' Fields and Energy/Radioactivity': 1,
         ' Fields and Energy/The nuclear atom': 1,
         ' Fields and Energy/Thermal physics': 1,
         ' Fields and Energy/Work and energy': 1,
         ' Figures and Captions': 1,
         ' First World Conceits': 1,
         ' Flow Control': 1,
         ' Fonts and Sidebars': 1,
         ' Footers': 1,
         ' Frame': 1,
         ' France': 1,
         ' Free Energy and Chemical Reactions': 1,
         ' Free Will': 1,
         ' Functions': 1,
         ' Functions and Equality': 1,
         ' Galaxies': 1,
         ' General Systems Theory': 1,
         ' Genomics and Proteomics': 2,
         ' Geometric and Harmonic Mean': 1,
         ' Germs': 1,
         ' Girl': 2,
         ' Glycogen and Diabetes': 1,
         ' Gnumex and Cygwin)': 2,
         ' Grids and Guides': 1,
         ' Groups and Authentication': 1,
         ' Hardware': 1,
         ' Healing and Human Rights': 1,
         ' High Intensity Exercise on Metabolic Syndrome': 1,
         ' Hogwarts': 1,
         ' Hoses and Machine Guns': 1,
         ' Hoses and Machine Guns/Worked Solutions': 1,
         ' Housing in Greeley': 1,
         ' Humans and Rebels': 2,
         ' Humans and Rebels/Mole Concept': 1,
         ' Inc': 1,
         ' India': 1,
         ' Inductance': 2,
         ' Inequality and Development': 1,
         ' Information and Data': 1,
         ' Innovation': 1,
         ' Integrability criterion': 2,
         ' Intelligence And Evolution': 1,
         ' Interest': 2,
         ' Interior': 1,
         ' J. - Symphony No. 1': 1,
         ' Ken Cuccinelli': 1,
         ' Kernel': 2,
         ' Knyvet': 1,
         ' Korean Cyber Home Learning System (CHLS)': 1,
         ' Language and Culture Assistants in Spain Survival Guide': 2,
         ' Language and Culture Assistants in Spain Survival Guide/Living': 1,
         ' Libraries and acronyms': 1,
         ' Life Cycles': 1,
         ' Life Insurance': 2,
         ' Lightwave': 2,
         ' Limits': 1,
         ' Lines': 2,
         ' Lists': 1,
         ' Longitudinal and Torsional waves': 1,
         ' Manchu': 1,
         ' Manuals': 1,
         ' Materials': 1,
         ' Michael': 1,
         ' Mitigation and Preparedness': 1,
         ' Molecules': 1,
         ' Momentum and Energy': 1,
         ' Monitor And Kill Processes': 1,
         ' Months': 1,
         ' Moon': 1,
         ' Morton Thiokol': 1,
         ' Multiplication': 1,
         ' Muscles': 1,
         ' Muscles and Movement': 1,
         ' Muscular': 1,
         ' Mutation and Evolvability': 1,
         ' Myself and I': 1,
         ' NV': 1,
         ' Nationalism': 1,
         ' Natural Disasters': 4,
         ' Navigation': 1,
         ' New York': 2,
         ' New York/1760s': 1,
         ' New York/1770s': 1,
         ' New York/1780s': 1,
         ' New York/1790s': 1,
         ' New York/1800s': 1,
         ' New York/1810s': 1,
         ' New York/1820s': 1,
         ' New York/1830s': 1,
         ' New York/1840s': 1,
         ' New York/1850s': 1,
         ' New York/1860s': 1,
         ' New York/1870s': 1,
         ' New York/1880s': 1,
         ' New York/1890s': 1,
         ' New York/1900s': 1,
         ' New York/1930s': 1,
         ' New York/1940s': 1,
         ' New York/1950s': 1,
         ' New York/1960s': 1,
         ' New York/Businesses': 1,
         ' New York/Churches': 1,
         ' New York/Houses': 1,
         ' New York/People': 1,
         ' New York/References': 1,
         ' New York/Schools': 1,
         ' News and Sports': 1,
         ' Newsgroups and Discussion Groups': 1,
         ' Normandy': 1,
         ' Not Statements': 1,
         ' O': 1,
         ' Objects and Types': 1,
         ' Obstacles': 1,
         ' Ocmulgee and Altamaha River Basins': 1,
         ' Orion and Scorpio': 1,
         ' Over 80 and Refusal': 3,
         ' Over 80 and Refusal Causing Bodily Harm or Death': 3,
         ' P. I. - Symphony No. 5': 1,
         ' PDEs': 1,
         ' Parke-Davis': 1,
         ' Part 1': 3,
         ' Part 2': 3,
         ' Part 3': 2,
         ' Part II': 2,
         ' Part Two': 1,
         ' Particles and Frontiers of Physics': 1,
         ' Particles and Frontiers of Physics/Capacitors': 1,
         ' Particles and Frontiers of Physics/Electric Fields': 1,
         ' Particles and Frontiers of Physics/Magnetic Fields': 1,
         ' Pass-By-Reference and Static Arrays': 2,
         ' Peoples Republic': 1,
         ' Peoples Republic (Mainland)': 1,
         ' Phases and Tasks MDC': 2,
         ' Phases and Tasks MDC/Phase 1 - Definition of Event': 1,
         ' Phases and Tasks MDC/Phase 2 - Development of Event Plans': 1,
         ' Phases and Tasks MDC/Phase 3 - Review of Event Plans': 1,
         ' Phases and Tasks MDC/Phase 4 - Execution of Event Plans': 1,
         ' Phases and Tasks MDC/Phase 5 - Evaluation of Event Plans': 1,
         ' Physics': 2,
         ' Pipes And Redirects': 1,
         ' Policy': 1,
         ' Polymers and Analysis/Rings': 1,
         ' Populations and Communities': 1,
         ' Power and Conflict': 1,
         ' Primitive': 1,
         ' Prince of Tyre': 1,
         ' Programming': 140,
         ' Programming and Network Concepts': 1,
         ' Programming and Network Concepts/Introduction to Communication and Networking': 1,
         ' Programming and Network Concepts/Introduction to Computer Systems': 1,
         ' Programming and Network Concepts/Introduction to Information and Data Representation': 1,
         ' Programming and Network Concepts/Introduction to Programming': 1,
         ' Pronunciation': 1,
         ' Protons and Neutrons': 1,
         ' Pull-offs': 1,
         ' Purification and Filtration': 1,
         ' R. - Siegfried-Idyll': 2,
         ' Randall Baldwin. “Geriatrics.”': 1,
         ' Rational': 1,
         ' Recognizance': 4,
         ' Reliability': 1,
         ' Reproduction': 1,
         ' Reproduction and Kinship': 1,
         ' Republic': 1,
         ' Republic (South)': 1,
         ' Republic Of (Taiwan)': 1,
         ' Rinse': 1,
         ' Routers': 14,
         ' SH': 1,
         ' Sample Space and Events': 1,
         ' Samuel Provance': 1,
         ' Scales': 1,
         ' Scenas 1 e 2 (anglese)': 8,
         ' Scenas 1 e 2 (interlingua)': 8,
         ' Scenas 3 e 4 (anglese)': 8,
         ' Scenas 3 e 4 (interlingua)': 8,
         ' Scenas 5 e 6 (anglese)': 8,
         ' Scenas 5 e 6 (interlingua)': 8,
         ' Scenes I-III': 2,
         ' Scenes IV-V and Act III': 1,
         ' Scenes V-VII': 1,
         ' Schools': 1,
         ' Science': 2,
         ' Scopes': 1,
         ' Script': 2,
         ' Scripts': 1,
         ' Sculpture': 1,
         ' Secant': 1,
         ' Semi-Presidential': 1,
         ' Setof and Findall': 1,
         ' Shopping and Money': 1,
         ' Significant Figures': 1,
         ' Sin t)': 1,
         ' Sinh and Tanh': 1,
         ' Soaps': 1,
         ' Social Networks': 2,
         ' Socialism and Communism': 1,
         ' Software and Applications': 2,
         ' Software and Applications/Machine Level Architecture': 2,
         ' Software and Applications/Machine Level Architecture/Boolean Algebra': 2,
         ' Software and Applications/Machine Level Architecture/Logic Gates': 2,
         ' Special Item and Gold Calls': 1,
         ' Spectra': 1,
         ' Spontaneous Abortion': 1,
         ' Sport and Arts': 1,
         ' Sr.': 2,
         ' Standard': 1,
         ' Standard Output': 1,
         ' Standards and Ideas to Consider': 1,
         ' States': 1,
         ' Steinitz Variation': 1,
         ' Structure': 1,
         ' Sum-and-Product': 1,
         ' Suwannee and St. Marys River Basins': 1,
         ' Sweet Home': 1,
         ' Symptoms': 1,
         ' TLS and HTTPS basics': 1,
         ' Tallapoosa': 1,
         ' Technology and Policy': 3,
         ' Technology and Policy/About the Author': 1,
         ' Technology and Policy/Acknowledgements': 1,
         ' Technology and Policy/Applications in Agriculture': 1,
         ' Technology and Policy/Applications in Medicine': 1,
         ' Technology and Policy/Contributors': 1,
         ' Technology and Policy/Introduction': 1,
         ' Technology and Policy/Notes': 1,
         ' Technology and Policy/Ownership Of and Access to Biotechnology': 1,
         ' Technology and Policy/Preface': 1,
         ' Technology and Policy/References': 1,
         ' Technology and Policy/The Science': 1,
         ' Technology and the future': 1,
         ' Temperature': 1,
         ' Terms and Simplifying Equations': 2,
         ' Texas': 2,
         ' Textbook': 1,
         ' The Genetic Material': 1,
         ' The Gospel of Jesus Christ': 1,
         ' The Russian Advance': 1,
         ' The Stored Program Concept and the Internet': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Code of conduct': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Digital rights management': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Emerging technologies': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Hacking': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Legal and ethical issues': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Legislation': 1,
         ' The Stored Program Concept and the Internet/Consequences of Uses of Computing/Robotics': 1,
         ' The Stored Program Concept and the Internet/Fundamental Hardware Elements of Computers': 1,

In [120]:
len(data[data['category']=="U"])

1

In [121]:
data[data['category']=="U"]

          id                                          book category
29010  39559  Anatomy and Physiology of Animals/Glossary/T        U

In [123]:
count.most_common(15)

[('Computing', 22816),
 ('Languages', 12530),
 ('Humanities', 11153),
 ('Science', 11014),
 ('Miscellaneous', 7787),
 ('Social_sciences', 6752),
 ('Mathematics', 3687),
 ('Engineering', 3473),
 ('Standard_curricula', 2828),
 ('Wikijunior', 441),
 (' Programming', 140),
 ('Help', 90),
 ('Cookbooks', 26),
 (' the Witch', 18),
 (' Routers', 14)]

In [129]:
sum([v[1] for v in count.most_common(15)])

82769

In [130]:
len(data)

83686

In [131]:
len(data) - sum([v[1] for v in count.most_common(15)])

917

In [137]:
common_categories = [v[0] for v in count.most_common(13)]

In [138]:
common_categories

['Computing',
 'Languages',
 'Humanities',
 'Science',
 'Miscellaneous',
 'Social_sciences',
 'Mathematics',
 'Engineering',
 'Standard_curricula',
 'Wikijunior',
 ' Programming',
 'Help',
 'Cookbooks']

In [143]:
d = data[data.category .isin( common_categories)]

In [145]:
len(d)

82737

In [146]:
count_d = Counter()

In [147]:
d.category.unique()

array(['Science', 'Computing', 'Mathematics', 'Social_sciences',
       'Languages', 'Humanities', 'Miscellaneous', 'Engineering',
       'Standard_curricula', 'Cookbooks', 'Help', 'Wikijunior',
       ' Programming'], dtype=object)

In [148]:
for cat in d.category.unique():
    count_d[cat] = len(d[d['category']==cat])

In [149]:
count_d

Counter({' Programming': 140,
         'Computing': 22816,
         'Cookbooks': 26,
         'Engineering': 3473,
         'Help': 90,
         'Humanities': 11153,
         'Languages': 12530,
         'Mathematics': 3687,
         'Miscellaneous': 7787,
         'Science': 11014,
         'Social_sciences': 6752,
         'Standard_curricula': 2828,
         'Wikijunior': 441})

In [153]:
count_d.most_common()

[('Computing', 22816),
 ('Languages', 12530),
 ('Humanities', 11153),
 ('Science', 11014),
 ('Miscellaneous', 7787),
 ('Social_sciences', 6752),
 ('Mathematics', 3687),
 ('Engineering', 3473),
 ('Standard_curricula', 2828),
 ('Wikijunior', 441),
 (' Programming', 140),
 ('Help', 90),
 ('Cookbooks', 26)]

In [238]:
import os
cwd = os.getcwd()
for cat in common_categories:
    cat_path = os.path.join(cwd, "extracted/", cat)
    
    if not os.path.exists(cat_path):
        os.makedirs(cat_path)
        print(cat_path)

/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Computing
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Languages
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Humanities
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Science
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Miscellaneous
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Social_sciences
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Mathematics
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Engineering
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Standard_curricula
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Wikijunior
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/ Programming
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Help
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/data/Cookbooks

In [172]:
directory = ""
text_files = []
for root, dirs, files in os.walk(os.path.join(cwd, 'allbooks/')):  
    print(len(files))
    print(dirs)
    print(root)
    
    text_files = files
    directory = root
    
    for i,file in enumerate(files[:10]):
        path_file = os.path.join(root,file)
        print(file)

73211
[]
/home/aniruddha-tapas/Desktop/NLP-test/test3/wikiextractor-master/allbooks/
The Geology of IndonesiaStratigraphyIntroduction.txt
HorticultureMyzus persicae.txt
Legal Words Phrases and MaximsChinese wall.txt
Rebol Programmingmake-dir.txt
A-level MathematicsOCRS1.txt
Neapolitan.txt
Job Search Automation for College StudentsSlide 2.txt
Windows ProgrammingDynamic Link Libraries.txt
BartendingAlcoholCoffee liqueur.txt
AlgebraEqualities and Inequalities.txt

In [174]:
len(text_files)

73211

In [25]:
d.to_csv("allbooks_by_category.csv")

1

<hr>